In [3]:
import numpy as np
from IPython.display import display
import pandas as pd

שאלה 1: יצירת DataFrame עם ערכים רנדומליים
צרו DataFrame בגודל 5x4 עם ערכים רנדומליים בין 1 ל-100 באמצעות NumPy.

In [4]:
np.random.seed(100)
my_data = np.random.randint(1, 101, (5, 4))
df = pd.DataFrame(data=my_data, index=['L1', 'L2', 'L3', 'L4', 'L5'],columns=['A', 'B', 'C', 'D'])
display(df)

     A   B   C   D
L1   9  25  68  88
L2  80  49  11  95
L3  53  99  54  67
L4  99  15  35  25
L5  16  61  59  17

In [5]:
df['E'] = df['A'] + df['B']
display(df)

     A   B   C   D    E
L1   9  25  68  88   34
L2  80  49  11  95  129
L3  53  99  54  67  152
L4  99  15  35  25  114
L5  16  61  59  17   77

In [6]:
# הוספת שורה עם 'Name' באינדקס
df.loc['Name'] = np.nan  # יוצרים שורה חדשה עם NaN

# איתור השורה שבה האינדקס הוא 'Name' והכנסת הממוצע של כל עמודה מספרית
df.loc['Name'] = df.mean()

display(df)

         A     B     C     D      E
L1     9.0  25.0  68.0  88.0   34.0
L2    80.0  49.0  11.0  95.0  129.0
L3    53.0  99.0  54.0  67.0  152.0
L4    99.0  15.0  35.0  25.0  114.0
L5    16.0  61.0  59.0  17.0   77.0
Name  51.4  49.8  45.4  58.4  101.2

In [7]:
# מיון העמודות לפי שם (בסדר עולה)
df_sorted_rows = df.apply(lambda row: sorted(row), axis=1)
print(df_sorted_rows)

L1        [9.0, 25.0, 34.0, 68.0, 88.0]
L2      [11.0, 49.0, 80.0, 95.0, 129.0]
L3      [53.0, 54.0, 67.0, 99.0, 152.0]
L4      [15.0, 25.0, 35.0, 99.0, 114.0]
L5       [16.0, 17.0, 59.0, 61.0, 77.0]
Name    [45.4, 49.8, 51.4, 58.4, 101.2]
dtype: object

In [8]:
df_col_sorted = df.apply(lambda col: sorted(col), axis=0)
print(df_col_sorted)

         A     B     C     D      E
L1     9.0  15.0  11.0  17.0   34.0
L2    16.0  25.0  35.0  25.0   77.0
L3    51.4  49.0  45.4  58.4  101.2
L4    53.0  49.8  54.0  67.0  114.0
L5    80.0  61.0  59.0  88.0  129.0
Name  99.0  99.0  68.0  95.0  152.0